h1 {
	font-family: PT Sans;
	text-align: center;
}
h2 {
	font-family: PT Sans
}
p {
	font-family: Titillium Web;
}
li {
	font-family: Titillium Web
}
.contact {
	float: center;
	position: relative;
	display: inline-block;
	padding: 10px;
	text-align: center;
}
nav {
	margin: auto;
	text-align: center;
}
.everything {
	margin: ;
}

.blocktext {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
}